body {
  padding: 10px 0;
  font-family: "Open Sans", sans-serif;
}

.login .panel-heading {
  text-align: center;
}

.btn {
  border: none;
  background-image: none;
}
.bank-button {
  background-color: #0388a6;
  color: #ffff;
}

.btn-full {
  width: 100%;
}
/* .bank-navbar a{
    color: #ffff !important;
}
.color-bank a{
    color: #0388a6 !important;
} */
.bank-navbar {
  background-color: #0388a6;
  background-image: none;
}
.navbar-default .navbar-brand {
  color: #ddd;
}
.navbar-default .navbar-brand:hover {
  color: #0388a6;
}
.navbar-default .navbar-brand:focus {
  color: white !important;
}
.navbar-default .navbar-nav > li > a {
  color: #ddd;
}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  background-color: #0388a6;
  color: #0388a6;
  color: #fff;
}
.navbar-default .dropdown.open .dropdown-toggle {
  background-color: #0388a6 !important;
  background-image: none;
  color: #fff !important;
}
.header-intro h1 {
  color: #0388a6;
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.panel-heading .btn {
  position: absolute;
  right: 20px;
  top: 5px;
}

.form-group .checkbox {
  display: inline;
  text-align: left;
  margin: 0;
}
.form-group .checkbox input {
  position: relative;
  display: inline-block;
  width: auto;
  margin: 0;
}

.trans-form .form-group {
  display: inline-block;
  margin-right: 20px;
}
.trans-form .form-group label {
  width: auto;
  display: inline-block;
}
.trans-form .form-group input {
  width: auto;
  display: inline-block;
  margin-left: 15px;
}
.trans-button {
  background-color: #0388a6;
  color: #ffff;
  margin-top: -5px;
}
.card-buttons a:nth-child(2){
margin-right: 27px;
}
@media only screen and (min-width: 768px) {
  .form-group label {
    width: 150px;
  }
  .trans-form .form-group label {
    width: auto;
    display: inline-block;
  }
  .form-group input {
    width: 300px;
    display: inline-block;
  }
  .form-group select {
    width: 300px;
    display: inline-block;
  }

  .login input{
    width:100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .trans-form .form-group {
    display: inline-block;
    margin-right: 20px;
  }
  .trans-form .form-group input {
    width: auto;
    display: inline-block;
    margin-left: 15px;
  }
  .trans-button {
    display:inline-block;
    width: 20%;
    margin-bottom: 10px;
    
  }
}
@media only screen and (max-width: 768px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ddd;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ddd;
  }
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    background-color: #00728c;
  }
  .form-group .checkbox {
    display: block;
    margin: 5px 0;
  }
  .trans-form .form-group {
    width: 100%;
  }
  .trans-form .form-group label {
    display: inline-block;
    width: 50%;
  }
  .trans-form .form-group input {
    margin: 0;
    width: 100%;
  }
  .trans-button {
    width: 100%;
    margin-bottom: 10px;
  }
  .form-group span{
    display: block;
    margin-top:10px;
  }
}
